        <nav>
            <ul>
                <!-- Always visible links -->
                <li><a href="/">Home</a></li>
                <li><a href="/inventory">Inventory</a></li>
                <li><a href="/financing">Financing</a></li>
                <li><a href="/tradein">Trade-in</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                
                <% if (user) { %>
                    <li>Welcome <%= user.first_name %></li>
                    <li><a href="/dashboard/service-request">My Service Requests</a></li>
                    <li>
                        <form action="/logout" method="POST" style="display: inline;">
                            <button class="logout-btn" type="submit" class="nav-logout-btn">Logout</button>
                        </form>
                    </li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                <% } %>
            </ul>
        </nav>