<%- include('../partials/header') %>
<main>
    <h1>500 - Something Went Wrong</h1>
    <p>Sorry, we are experiencing technical issues. Please try again later.</p>
    <a href="/" class="btn">Back to Home</a>
</main>
<%- include('../partials/footer') %>